/* Write your CSS here! */


body {
   
    margin: 8px;
    display: block;
    font-family: Arial;
    background-image: url("images/backgroundcolorblock.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(205, 180, 52);
    height: 500px;
    background-attachment: fixed;
    }

main {
border: 2px solid rgb(255, 255, 255);
border-radius: 5px;
border-style: double;
}

#mainHeading {
color: red;
font-size: 0;
}

.funParagraph {
color: green;
font-size: 0;
}


